.container-infos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .container-infos {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }
}

.container-game {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 35rem;
  height: 35rem;
  background-color: #EFF25A;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .container-game {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
  }
}

.container-events {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: .8rem;
  width: fit-content;
  height: 100%;
}

.event {
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  padding: .7rem .8rem;
  border-radius: 10px;
}

.event-winner {
  background-color: #EFF25A;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  padding: .7rem .8rem;
  border-radius: 10px;
}

.row {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.block {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .block {
    width: 6rem;
    height: 6rem;
  }
}

.img-block {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.border-left {
  border-left: 5px solid #9B9B9B;
}

.border-right {
  border-right: 5px solid #9B9B9B;
}

.border-top {
  border-top: 5px solid #9B9B9B;
}

.border-bottom {
  border-bottom: 5px solid #9B9B9B;
}
