* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #BDBDBD;
}

@media (max-width: 768px) {
  body {
    height: fit-content;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/background-tic-tac.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .5;
  z-index: -1;
}

.container-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .container-main {
    height: fit-content;
    margin-top: 7rem;
    margin-bottom: 2rem;
    flex-flow: column-reverse nowrap;
    justify-content: flex-end;
    gap: 1.5rem;
  }
}
